<launch>
    <node name="map_generator" pkg="map_generator" type="click_map">
        <param name="~width" value="0.15"/>
        <param name="~height" value="2.4"/>

        <param name="~step_length" value="0.05"/>
        <param name="~step_width" value="0.05"/>
        <param name="~step_height" value="0.02"/>
        <param name="frame" value="world" />
        <remap from="/click_map" to="/map_generator/click_map"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generator)/rviz/map_generator.rviz"/>
  
</launch>
