<launch>
    <node name="visual_pcl" pkg="map_pcl" type="visual_pcl" output="screen">
      <remap from="global_map" to="/global_map" />
      <param name="frame_id" type="string" value="world"/>
      <param name="pcd_file_path" type="string" value="$(find map_pcl)/pcd/map.pcd"/>

    </node>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_pcl)/config/get_position.rviz" output="screen" />
</launch>
